$border-blue: #0F52BA;
$color-white: hsl(0, 0%, 100%);
$near-white: #F1F1F1;
$color-air: #EEE;
$color-cloud: #DDD;
$dark-cloud: #CCC;
$light-grey: #BBB;
$color-black: #000;
$dark-night: #222;
$dark-grey: #333;
$medium-grey: #555;
$baby-blue: #3498db;
$dark-leather: #594F4F;
$error-red: #FF1111;
$success-green: #33CC33;
$default-font-size: 1.6rem;

$light-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
$default-shadow: 0 1rem 2rem rgba(0,0,0,0.2);