@import '../../../sass/classes';

.language-items-container {
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  background-color: #FFF;
  h3 {
    margin-top: 4rem;
  }
  ul {
    li {
      box-sizing: border-box;
      padding: 2rem;
      margin-top: 2rem;
      background-color: $color-air;
      width: 100%;
    }
  }
  &.dark {
    background-color: #161616;
    h4, p, pre {
      color: #FFF;
    }
    li {
      background-color: #222;
    }
  }
}

.dropdown-cont {
  position: relative;
  display: flex;
}
.lang-navbar-dropdown {
  float: left;
  width: 200px;
  height: 47px;
  float: left;
  background-color: #C4C4C4;
  border: 2px solid #222;
  border: none;
  &:hover,
  &:active {
    background-color: #D4D4D4;
    border: 2px solid #222;
  }
  &.dark {
    width: 200px;
    height: 47px;
    background-color: #222;
    border: 2px solid #222;
    color: #FFF;
    &:hover {
      background-color: #313131;
      border: 2px solid #313113;
    }
  }
}

.category-select-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 47px;
  left: 0;
  width: 200px;
  gap: 0;
  z-index: 3;
  background-color: #BFBFBF;
  box-sizing: border-box;
  button {
    cursor: pointer;
    padding: 1rem;
    background-color: #BFBFBF;
    border: 2px solid #BFBFBF;
    border: none;
    svg {
      font-size: 24px;
    }
  }
  h4 {
    display: none;
    color: #000;
    border-bottom: 2px solid #000;
    padding-bottom: 1rem;
  }
  &.dark {
    background-color: #282828;
    h4 {
      color: #FFF;
      border-bottom: 2px solid #FFF;
    }
    button {
      padding: 1rem;
      background-color: #1A1A1A;
      border: 2px solid #1A1A1A;
      color: #FFF;
      &:hover {
        background-color: #313131;
        border: 2px solid #313113;
      }
    }
  }

}

@media (max-width: 700px) {
  .language-items-container {
    padding: 1rem;
    ul {
      li {
        padding: 1rem;
      }
    }
  }
  .category-select-dropdown {
    top: 60px;
  }
  .dropdown-cont,
  .lang-navbar-dropdown {
    &.dark {
      width: 100%;
    }
    width: 100%;
  }
  .lang-navbar-dropdown,
  .category-select-dropdown button{
    height: 60px;
    &.dark {
      height: 60px;
    }
  }
}