@import '../../../sass/classes';

.language-container {
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  background-color: #FFF;
  ul {
    li {
      padding: 2rem;
      margin-top: 2rem;
      background-color: $color-air;
    }
  }
  &.dark {
    background-color: #444;
    h4, p, pre {
      color: #FFF;
    }
    li {
      background-color: #555;
    }
  }
}