@import '../sass/variables';
@import '../sass/themes';

@font-face {
  font-family: 'Roboto Normal';
  src: url('../../public/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../../public/fonts/RobotoMono/RobotoMono-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
// main {
//   max-width: 1100px;
//   margin-right: auto;
//   margin-left: auto
// }
:root {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}
body {
  color: #000;
  background-color: #FFF;
  padding: 0;
  margin: 0;
  &.dark {
    color: #FFF;
    background-color: #1A1A1A;
  }
  width: 100%;
  .modal-open {
    overflow: hidden;
  }
}
main {
  width: 100%;
}
html { 
  color: #000;
  background-color: #FFF;
  &.dark {
    color: #FFF;
    background-color: #1A1A1A;
  }
  width: 100%;
}
.global-backgrounds {
  background-color: #F1F1F1;
  &.dark {
    background-color: #1A1A1A;
  }
}
div, section, ul, li, h1, h2, h3, h4, p, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto Mono";
  letter-spacing: 1px;
}
p {
  line-height: 2.3rem;
  letter-spacing: 1px;
  word-spacing: 1px;
}
pre, font {
  line-height: 2.5rem;
  letter-spacing: 0;
  word-spacing: 0;
  font-family: "Roboto Mono";
  font-size: 1.4rem;
}

a::before,
a::after,
a:visited,
a {
  color: #000;
}
p, label  {
  font-size: 1.5rem;
}

h1 {
  font-size: 4rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 3rem;
  letter-spacing: 2px;
}

h3 {
  font-size: 2rem;
  letter-spacing: 2px;
}

h4 {
  font-size: 1.7rem;
  letter-spacing: 1px;
}

input, textarea {
  outline-color: $border-blue;
  box-sizing: border-box;
  padding: 1rem;
}
// @media (max-width: 1300px) {
//   main {
//     max-width: 90%;
//   }
// }
.color-text {
  color: black;
  &.dark {
    color: White;
  }
}

.main-body-content {
  &.dark {
    background-color: #1A1A1A;
  }
}
.dark {
  background-color: #1A1A1A;
}

@media (max-width: 500px) {

  h4 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  pre, font  {
    font-size: 1rem;
    line-height: 15px;

  }
  
}
@media (max-width:  400px) {
  pre, font  {
    font-size: 8px;
    line-height: 12px;

  }
}

@media (max-width:  275px) {
  pre, font  {
    font-size: 8px;
    line-height: 12px;

  }
}