@import '../../sass/variables';
@import '../../sass/mixins';
.terms-container {
  width: 800px;
  min-height: 90vh;
  margin: 8rem auto 20rem auto;
  padding: 3rem;
  box-sizing: border-box;
  background-color: $color-air;
  color: #000;
  &.dark{
    background-color: #2A2A2A;
    color:#FFF;
  }
  h2 {
    margin-bottom: 2.5rem;
  }
  h3 {
    margin: 2.5rem 0;
  }
  p, a {
    box-sizing: border-box;
    line-height: 3.3rem;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 2rem 0;
    text-indent: 3rem;
    color: inherit;
  }
  img {
    width: 100%;
    height: fit-content;
  }
  p {
    text-indent: 2rem;
  }
  a {
    text-decoration: underline;
  }
}

@media (max-width: 1023px) {
  .terms-container {
    width: 90vw;
    margin-top: 4rem;
    padding: 1.3rem;
    h2 {
      font-size: 1.4rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    h4 {
      font-size: 1.2rem;
    }
    p, a {
      font-size: 1rem;
      line-height: 1.2rem;
      margin: 1rem 0;
      text-indent: 1rem;
    }
  }
}